{% extends "base.html" %} {% block content %}

<div class="row">
  {% for task in tasks %}
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="tasks-card d-flex justify-content-between mb-3">
      <div>
        <h3>Title: {{ task["title"]}}</h3>
        <p>Description: {{ task["desc"]}}</p>
        <p>Category: {{ task["category"]}}</p>
        <p>Urgency: {{ task["urgency"]}}</p>

        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#id{{task['_id']}}"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="id{{task['_id']}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure? Task to delete: {{task['title']}}</p>
        </div>
        <div class="modal-footer">
          <form method="post" action="/delete-task/{{task['_id']}}">
            <button class="btn btn-danger">Yes, delete</button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<button
  class="btn btn-primary add-btn"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
>
  <i class="bi bi-file-earmark-plus"></i>
</button>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">New task</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form method="post" action="/add-task">
      <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="Title"
          placeholder="Type task title"
          name="title"
          required
          minlength="4"
        />
      </div>
      <div class="mb-3">
        <label for="Desc" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          id="Desc"
          placeholder="type a short description"
          name="desc"
          required
          minlength="8"
        />
      </div>
      <div class="mb-3">
        <label for="Category" class="form-label">Description</label>
        <select required name="category" aria-label="Default select example">
          <option value="" disable selected>Select category</option>
          <option value="hobby">Hobby</option>
          <option value="film">Film</option>
          <option value="sport">Sport</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="Urgency" class="form-label">Urgency</label>
        <select required name="urgency" aria-label="Default select example">
          <option value="" selected>Select Urgency</option>
          <option value="low">Low</option>
          <option value="medium">Medium</option>
          <option value="high">High</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">CREATE</button>
    </form>
  </div>
</div>
<!-- <h1>Tasks</h1>

<form>
  <input />
</form> -->

{% endblock %}
